<table class="table">
    <tr>
        <th>Usuario</th>
        <th>Sala</th>
        <th>Fecha</th>
        <th>Hora Inicio</th>
        <th>Hora Final</th>
        <th>Completar</th>
        <th>Cancelar</th>
    </tr>
    <tr *ngIf="pendientes.length <= 0">
        <td colspan="6">Sin datos</td>
    </tr>
    <tr *ngFor="let pendiente of pendientes">
        <td>{{ pendiente.usuario }}</td>
        <td>{{ pendiente.sala }}</td>
        <td>{{ formaFecha(pendiente.fecha) }}</td>
        <td>{{ formatHora(pendiente.horainicio) }}</td>
        <td>{{ formatHora(pendiente.horafinal) }}</td>
        <td><button mat-button id="complete" (click)="completar(pendiente.id)">Completar</button></td>
        <td><button mat-button id="cancel" (click)="cancelar(pendiente.id)">Cancelar</button></td>
    </tr>
</table>